.aside {
  width: 300px;
  // background-color: $N6;
  // border: 2px solid $N13;
  border-radius: 2px;
  height: 100vh;
  overflow-y: auto;
  &__title {
    padding: 10px 24px;
    height: 46px;
    font-weight: 400;
    margin-bottom: 12px;
    border-bottom: 1px solid #dee2e6;
  }
  &__list {
    list-style: none;
    padding: 12px;
    padding-left: 24px;
    .active {
      text-decoration: underline;
    }
  }
  &__item {
    margin-bottom: 4px;
  }
  &__link {
    // color: $N100;
    line-height: 1.2;
    padding-bottom: 2px;
  }
  &__button {
    margin-top: 12px;
    width: min-content;
    white-space: nowrap;
  }
}