.card {
  min-width: 500px;
  &__title {
    
  }
  &__body {
    padding: 0;
  }
  &__input {
    width: 200px;
  }
  &__table {
    margin: 0;
  }
  &__button {
    margin: 12px;
  }
  &__select {
    width: 200px;
  }
  &__table-cell {
    width: 55%;
    &--left {
      width: 45%;
    }
  }
}